In [1]:
import polars as pl

In [3]:
lf = pl.DataFrame(
    {
        "a": ["one", "two", "one", "two"],
        "b": [1, 2, 3, 4],
    }
).lazy()

In [22]:
df = pl.DataFrame(
    {
        "a": ["one", "two", "one", "two"],
        "b": [1, 2, 3, 4],
    }
)
df

shape: (4, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ str ┆ i64 │
╞═════╪═════╡
│ one ┆ 1   │
│ two ┆ 2   │
│ one ┆ 3   │
│ two ┆ 4   │
└─────┴─────┘

In [23]:
for a,b in df.group_by("a"):
    print(a)
    
    print(a,b )

one
one shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ str ┆ i64 │
╞═════╪═════╡
│ one ┆ 1   │
│ one ┆ 3   │
└─────┴─────┘
two
two shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ str ┆ i64 │
╞═════╪═════╡
│ two ┆ 2   │
│ two ┆ 4   │
└─────┴─────┘

/var/folders/ly/g550b94s7zl51thw7x1fh6lrgswmm1/T/ipykernel_34247/1131041388.py:1: DeprecationWarning: `group_by` iteration will change to always return group identifiers as tuples. Pass `by` as a list to silence this warning, e.g. `group_by(['a'])`.
  for a,b in df.group_by("a"):

In [27]:
for a in lf.group_by("a").all().to_list():
    print(a.collect())

AttributeError: 'LazyFrame' object has no attribute 'to_list'

In [28]:
a: str = 2

In [29]:
a

2

In [30]:
print(type(a))

<class 'int'>